# compiled output
dist/
node_modules/
dist.zip

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.idea/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

!.config.json
!.pre.json
!.README.md

/run-template-server-only.bat
/run-web-server-only.bat
packages/core/test/resources/openapi
packages/core/test/resources/swaggerApi.json
packages/cli/tests/__folder__
.changeset/*-*.md
