@import "variable";
@import "reset-arco";
@import "theme.css";

body{
  color: var(--vt-c-text-2);
}
#nprogress .bar{
  height: 3px;
  background: var(--vt-c-primary);
  > .peg{
    box-shadow: 0 0 10px var(--vt-c-primary), 0 0 5px var(--vt-c-primary);
  }
}
a{
  color: var(--vt-c-text-1);
  text-decoration: none;
  transition: color .25s;
  &:hover, &:active{
    color: var(--vt-c-primary);
  }
}
.user-select-none{
  user-select: none;
}
.a-tabs--simplify{
  >.arco-tabs-nav{
    &:before{
      display: none;
    }
    >.arco-tabs-nav-tab{
      justify-content: center;
      .arco-tabs-tab-title{
        font-size: 18px;
      }
    }
  }
  >.arco-tabs-content{
    padding-top: 10px;
  }
}
.a-space--shim{
  margin-left: 2px;
}

.text-center{text-align: center;}

.font-size-10{font-size: 10px;}
.font-size-11{font-size: 11px;}
.font-size-12{font-size: 12px;}
.font-size-13{font-size: 13px;}
.font-size-14{font-size: 14px;}
.font-size-15{font-size: 15px;}
.font-size-16{font-size: 16px;}
.font-size-17{font-size: 17px;}
.font-size-18{font-size: 19px;}
.font-size-19{font-size: 19px;}
.font-size-20{font-size: 20px;}

.cm-editor{
  border-radius: 5px;
  overflow: hidden;
}

.ztz-spin{
  position: relative;
  display: block;
  width: 100%;
  min-height: 200px;
 .arco-spin-mask-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -100%);
  }
}

.hide-label{
  .arco-form-item-label-col{
    display: none;
  }
}

.box-sizing{
  box-sizing: border-box;
}
.overflow{
  overflow: auto;
}
