@import "./pages.css";
@import "./badges.css";
@import "./options-boxes.css";
@import "./inline-demo.css";
@import "./utilities.css";
@import "./style-guide.css";

.VPNavBarTitle > svg, .VPNavBarTitle > span{
  display: none;
}
.VPNavBarTitle:before{
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../assets/logo-red.svg");
  background-size: cover;
}
.VPNavBarTitle:after{
  content: 'API Helper';
  font-weight: 600;
}

a:hover, a:active{
  color: #FF5722!important;
}
.DocSearch-Button:hover .DocSearch-Button-Key, .DocSearch-Button:hover .DocSearch-Button-Key:first-child:after{
  border-color: #FF5722!important;
  color: #FF5722!important;
}
.link.active .link-text{
  color: #FF5722!important;
}
.vt-doc a{
  color: #FF5722!important;
}
.title{
  color: #FF5722!important;
}
